/* CSS Document */


body{margin:0; padding:0; background:#ceceba url(../img/bg_home.gif) repeat-x;}
.dBoxBranco{background:#fff; border:1px solid #fff;}
.dBoxAzul{background:#a0daf2; padding:8px;}
.dTopo{border:1px solid #2e65a2; height:73px; background:url(../img/bg_Topo.gif); text-align:left; padding:20px 0 0 34px;}
.dCorpo{height:522px;}
.dMenu{width:150px; float:left; padding:2px 6px 0 0;}
.dIndex{width:760px; height:488px; float:left; background:#fff; margin:2px 0 0 0; border:1px solid #2e65a2; text-align:center;}
.dDireitos{ padding-top:10px; text-align:center; color:#000000; font-family:vedana, Arial; font-size:11px; font-weight:normal; float:left; width:100%;}
.sPaginas{width:400px; background:#F2F2F2;}
.dForm{text-align:center; padding:20px 0 0 0px;}
.dFoto{float:left; width:205px;}
.dSecao{float:left;}
.dLista{ height:290px; width:300px; overflow-y:scroll; border:1px solid #000; padding:0 15px;}
.dFile{background:#F0F0F0; margin:2px 0 2px 0; width:230px; float:left; height:20px;}
.dFile:hover{background:#a0daf2;}
.dApagar{float:left; width:50px; background:#F0F0F0; margin:2px 0 2px 0; height:17px; padding-top:3px;}
.dLink{ position:absolute; border:1px solid #000; width:180px; padding:10px 15px; background:#fff; left:461px;top: 302px; display:none;}
.dPrincipal{margin:0 auto 0 auto; width:980px; padding:10px 0 0 0;}
.dCorpoMenu{width:142px; float:left; background:#515244; padding:10px 5px 40px 5px;}
.dConteudo{width:820px; display:table-cell; background:#fff; float:left; margin:0 0 0 5px;}
.dBotao{background:#3b3b2f; width:137px; height:21px; margin-bottom:2px; text-align:left; overflow:hidden; padding:0px 0 0 3px;}
.dData{background:#cacaca; height:23px; padding:2px 0 0 20px;}

.cArial_18_fff{font-family:Palatino Linotype, Arial; font-size:18px; font-weight:bold; color:#fff;}
.cArial_18_000{font-family:Palatino Linotype, Arial; font-size:18px; font-weight:bold; color:#000; text-decoration:none;}
.cArial_11_fff{font-family:Palatino Linotype, Arial; font-size:11px; font-weight:normal; color:#fff; text-decoration:none;}
.cArial_12_000{font-family:Palatino Linotype, Arial; font-size:12px; font-weight:normal; color:#000; text-decoration:none;}
.cAriallink_12_000{font-family:Palatino Linotype, Arial; font-size:12px; font-weight:normal; color:#000;}
.cArial_12_FF0000{font-family:Palatino Linotype, Arial; font-size:12px; font-weight:normal; color:#FF0000; text-decoration:none;}

/*CAMPO FORMATAÇÃO*/
.dFormat{width:366px; height:28px; background:#ece9d8; border-bottom:2px solid #aca899; padding:4px 20px 0 20px;}
.cArialBold_14_000{font-family:Times; font-size:14px; font-weight:bold; color:#000; text-decoration:none;}

/* LIGHTBOX CSS */
.fFrame{ display:none; position:absolute; top:20%; left:36%; z-index:1001;}
.dBtnFechar{ position:absolute; top:20.7%; left:62.5%; z-index:1002; display:none;}




/* FONTES */
.cVedana_10_fff{font-family:vedana; font-size:12px; font-weight:bold; color:#fff; text-decoration:none;}
.cPalatino_40_fff{font-family:Palatino Linotype, Arial; font-size:40px; color:#fff; font-weight:bold;}
.cVedana_10_000{ font-family:vedana; font-size:12px; font-weight:normal; color:#000; text-decoration:none;}
.aExclui{font-family:vedana; font-size:10px; font-weight:bold; color:#FF0000; text-decoration:none; text-align:right;}
