/* CSS Document */
.dTelao{ height:200px;}
.dTelao img{ _margin-bottom:-4px; border:1px solid #9BA061;}

.dBotoes{ width:345px; padding-right:10px; height:26px; position:absolute; top:250px;}
.dBotoes ul{ margin:0; padding:0; float:right;}
.dBotoes li{ width:27px; height:26px; list-style:none; background:url(../img/btn_slide.gif); margin-right:3px; text-align:center; float:left; line-height:23px;}
.dBotoes li a{ display:block; font-family:verdana; font-size:14px; color:#000000; text-decoration:none;}
.dBotoes li a:hover{ }

.dSlideTexto{ width:332px; padding:7px 10px; height:36px; background:#9BA061; overflow:hidden; line-height:17px;}
.dSlideTexto a{ font-family:verdana; color:#FFFFFF; font-size:11px; text-decoration:none;}
.dSlideTexto a:hover{ text-decoration:underline;}
.dSlide{ display:none; margin-bottom:4px;}