<!------------- INCLUDE SHOPPING ----------------->

<div id="dTituloSecaoCalendShopping">Shopping Trilhas RJ</div>	
<ul>
	<?php MateriaRetornaTodas('shopping','templates/tpl_home_shopping.php','3'); ?>
</ul>