<style type="text/css">
<!--
.Nav{ width:100%; height:62px; background:url(../img/bg_menususpenso.gif) repeat-x;}
.MenuSuspenso{ width:960px; margin:0 auto;}
	.MenuSuspenso ul{ list-style:none;}
	.MenuSuspenso li{  display:inline; float:left;}
	.MenuSuspenso li a img{ margin:0 0 0 32px;}
	.MenuSuspenso li img{ border:none; margin:0 10px 0 0; float:left;}
-->
</style>
<div class="Nav">
	<div class="MenuSuspenso">
		<ul>
			<li>
				<img src="../img/img_ico_canaistrilhasrj.jpg" />
			</li>
			<li>
				<a href="http://www.trilhasrj.com.br"><img src="../img/img_ico_trilhasrj.jpg" /></a>
			</li>
			<li>
				<a href="http://www.trilhasrj.com.br/club"><img src="../img/img_ico_fidelidade.jpg" /></a>
			</li>
			<li>
				<a href="http://www.trilhasrj.com.br/centralfotos"><img src="../img/img_ico_centralfotos.jpg" /></a>
			</li>
			<li>
				<a href="http://www.trilhasrj.com.br/secao_colunistas.php"><img src="../img/img_ico_colunistas.jpg" /></a>
			</li>
			<li>
				<a href="http://www.trilhasrj.com.br/secao_calendario.php"><img src="../img/img_ico_calendario.jpg" /></a>
			</li>
			<li>
				<a href="http://www.trilhasrj.com.br/diariotrilhas.php"><img src="../img/img_ico_diariotrilhas.jpg" /></a>
			</li>
			<li>
				<a href="http://www.trilhasrj.com.br/secao_econoticias.php"><img src="../img/img_ico_econoticias.jpg" /></a>
			</li>
		</ul>
	</div>
</div>